Source: aptcron
Section: python
Priority: extra
Maintainer: Mathias Ertl <mati@er.tl>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.5
Homepage: https://github.com/mathiasertl/aptcron
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.2
Vcs-Browser: https://github.com/mathiasertl/aptcron
Vcs-Git: https://github.com/mathiasertl/aptcron.git

Package: aptcron
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-apt
Description: List available APT updates
 List updates available in the APT index. This script is specifically designed
 to work well with custom deployment on a large scale.

Package: aptcron-fixed-time
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, aptcron
Description: Run aptcron at 6:15 am every day
 This package adds a crontab file to run aptcron at 6:15 am.

Package: aptcron-random-time
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, aptcron, at
Conflicts: aptcron-in-the-morning
Description: Run aptcron at a random time of day
 This package adds a crontab file to run aptcron at a random time of day.

Package: aptcron-in-the-morning
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, aptcron, at
Conflicts: aptcron-random-time
Description: Run aptcron at a random time between 3:00 am and 8 am.
 This package adds a crontab file to run aptcron at a random time between
 3:00 am and 8 am.

Package: aptcron-only-new
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, aptcron
Description: Configure aptcron to only send updates of new packages
 With this package, aptcron will send only updates of new packages. This means
 that you will not receive a mail if there are no new updates since the last
 run.
