#!/usr/bin/make -f

DH_ARGS=--with python2

override_dh_install:
	dh_install
	mv debian/aptcron/usr/bin/aptcron.py debian/aptcron/usr/bin/aptcron

override_dh_installdocs:
	dh_installdocs --link-doc=aptcron

%:
	dh $@ ${DH_ARGS}
